
body {

    background-image: url(imagens/mobili-ligth.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    
}

div {
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

body * {
    font-family: 'Inter', sans-serif;
    color: black;
    
}

@media only screen and (min-width: 900px) {
    body {
      background-image: url(imagens/Desktop-ligth.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
    }
  }

  .responsive-image img {
    width: 100%;
  }
  
  @media (min-width: 900px) {
    .responsive-image img {
      content: url(imagens/desen2.png);
     }
  }

  .texto {
    position: relative;
    text-align: center;
    margin-top: 150px;
    font-size: 17px;
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 25px;
      margin-top: 430px;
      text-align: center;
      
    }
  }

  
  @media (max-width: 520px) {
    h1 {
      font-size: 20px;
      margin-top: 450px;
      text-align: center
      
    
    }
  }



